/* --- Simplify Variables --- */
:root {
  /* --- Base Table Colors --- */
  --table-bg-color: #f3f3f3;
  --table-bd-color: #898989;
  --table-fg-color: #0d0d0e;
  /* --- Table Header Colors --- */
  --header-bg-color: linear-gradient(#bbbbbb, #dddddd);
  --header-bd-color: #415cd3;
  --header-fg-color: #0d0d0e;

  /* --- Table Cells --- */
  --cell-bg-color: #f3f3f3;
  --cell-gridline-color: #cccccc;
  --cell-fg-color: #0d0d0e;
  --cell-alternate-bg-color: #e3e3e3;
  --cell-alternate-fg-color: #0d0d0e;

  /* --- Table Ui colors --- */
  --table-ui-bg-color: #f3f3f3;
  --table-ui-bd-color: #cccccc;
  --table-ui-fg-color: #0d0d0e;
  --table-ui-hover-bg-color: #e3e3e3;
  --table-ui-hover-bd-color: #415cd3;
  --table-ui-hover-fg-color: #0d0d0e;
  --table-ui-active-bg-color: #415cd3;
  --table-ui-active-bd-color: #415cd3;
  --table-ui-active-fg-color: #ffffff;
  --table-ui-placeholder-fg-color: #cccccc;

  /* --- Base Variables --- */
  --base-font-size: 12px;
  --base-font-family: system-ui, sans-serif;
  --base-font-weight: 500;
  --base-padding: 3px;
  --base-margin: 3px;
  --base-gap: 3px;
  --base-border-radius: 8px;
  --base-border-width: 2px;
  --base-transition: all 0.3s ease;

  /* --- Base Sizing Variables --- */
  --base-width: 100%;
  --base-height: auto;
  --base-min-height: 400px;
  --base-max-height: 800px;
  --header-min-height: 40px;
  --row-height: 35px;
  --top-container-height: 40px;
  --bottom-container-height: 40px;
}

body {
  padding: 1rem; /** Test padding. Will remove later */
}

/* --- Simplify Reset --- */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: max-content;
}

thead tr {
  position: sticky;
  top: 0;
}

thead {
  position: relative;
}

tr {
  height: var(--row-height);
  background-color: var(--cell-bg-color);
}

tr:nth-child(even) {
  background-color: var(--cell-alternate-bg-color);
}

/*
BASE FLEXBOX LAYOUTS
-----------------------------------
The below styles are for the base flexbox layouts.
*/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.base-gap {
  gap: var(--base-gap);
}

/*
BASE CONTAINER AND CHILD ELEMENTS
-----------------------------------
The below styles are for the base container and its child elements.
 */

/* --- simplify-table --- */
.simplify-table {
  background-color: var(--table-bg-color);
  border: var(--base-border-width) solid var(--table-bd-color);
  color: var(--table-fg-color);
  user-select: none;
  border-radius: var(--base-border-radius);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  display: grid;
  grid-template-rows: var(--top-container-height) auto 1fr var(--bottom-container-height);
  width: var(--base-width);
  height: var(--base-height);
  min-height: var(--base-min-height);
  max-height: var(--base-max-height);
}

/* --- Top container --- */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--base-padding);
  border-bottom: 1px solid var(--table-bd-color);
}

/* --- Action container --- */
.action-container {
  display: flex;
  gap: var(--base-gap);
}

/* --- Middle container --- */
.middle-container {
  display: grid;
  overflow: auto;
}

/* --- Bottom container --- */
.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--base-padding);
  border-top: 1px solid var(--table-bd-color);
}

/*
TABLE HEADER STYING 
-----------------------------------
The below styles are for the table header.
*/

/* --- Header --- */
.table-header {
  background-color: var(--header-bg-color);
  color: var(--header-fg-color);
  min-height: var(--header-min-height);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  padding: 5px;
}

.table-header:first-child {
  margin: auto;
}

.header-bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--base-border-width);
  background-color: var(--header-bd-color);
}

/*
TABLE CELL STYING 
-----------------------------------
The below styles are for the table cells.
*/

/* --- Table Cell --- */
.table-cell {
  padding: var(--base-padding);
  border-bottom: 1px solid var(--cell-gridline-color);
  background-color: transparent;
  color: var(--cell-fg-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.table-cell:nth-child(even) {
  color: var(--cell-alternate-fg-color);
}

.table-cell:first-child {
  margin: auto;
}


/*
TABLE UI CONTROLS STYING 
-----------------------------------
The below styles are for the table ui controls.
*/

/* --- Table UI Controls --- */
.table-control {
  min-height: 30px;
  border-radius: var(--base-border-radius);
  padding-inline: var(--base-padding);
  outline: none;
  border: 1px solid var(--table-ui-bd-color);
  background-color: var(--table-ui-bg-color);
  color: var(--table-ui-fg-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: var(--base-transition);
}

.table-control:focus {
  outline: 2px solid var(--table-ui-active-bg-color);
  outline-offset: 1px;
}

/* --- Header Sort Button --- */
.header-sort-btn {
  background-color: transparent;
  border: none;
  color: var(--table-ui-fg-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: var(--base-transition);
  padding: 4px;
  border-radius: var(--base-border-radius);
}

.header-sort-btn:hover {
  background-color: var(--table-ui-hover-bg-color);
}

/*
TABLE PAGINATION CONTROLS STYING 
-----------------------------------
The below styles are for the table pagination controls.
*/
.pagination-btn {
  background-color: transparent;
  color: var(--table-ui-fg-color);
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: var(--base-transition);
  padding: 4px;
  border-radius: var(--base-border-radius);
  min-height: 35px;
  min-width: 35px;
}

.pagination-btn.pagination-active {
  border: 2px solid var(--table-ui-active-bg-color);
}

.pagination-btn:hover {
  background-color: var(--table-ui-hover-bg-color);
}
